body {
    display: block; 
}

#topLeft {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: white;
}

#topRight {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: white;
}

#bottomLeft {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: white;
}

#bottomRight {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: white;
}